{% extends "base.html" %}
{% load i18n %}


{% block content %}
<h3>{% blocktrans with lgt=products|length %}{{lgt}} Products:{% endblocktrans %}</h3>
<div class="card-group">
    {% for p in products %}
    <div class="card">
        <h5 class="card-title">{{p.title}}</h5>
        <p class="card-text"><small class="text-muted">{{p.vendor}} - {{p.product_type}}</small></p>
        <p class="card-text">{{p.body_html}}</p>
        <p>{% for var in p.variants %}
           {{var.title}}({{var.sku}}) - {{var.price}}<br>
           {% endfor %}
        </p>
        <p class="card-text"><small class="text-muted">{% blocktrans with by=p.vendor typ=p.product_type %}by {{by}} - in the category {{typ}}{% endblocktrans %}</small></p>
      </div>
    {% endfor %}
</div>

<h3>{% blocktrans with lgt=levels|length %}{{lgt}} Inventory-Levels:{% endblocktrans %}</h3>
<ul>
    {% for l in levels %}
    <li>
        <a href="{% url 'plugin:shopify:increase-level' l.location_id l.inventory_item_id %}">{{l.inventory_item_id}} - {{l.available}}</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}